#preloder{
    background: white url(images/preloder.gif) no-repeat center;
    background-size: 5%;
     height: 100vh;
     width: 100%;
     position: fixed;
     z-index: 100;
   }
   @media print{
    html,body{
      display: none;
    }
  }
